<div class="page-header-bg text-center btn-large-container landing-bg long-header fbSignupBlock">
  <div class="bg-image-container" style="background-image:url('https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/wedding-website/landing-cover3.jpg')"></div>
  <div class="header-bg-content inline-block">
    <h1 class="text-lg text-header text-white no-m"><strong>Create a beautiful Wedding<br> Website for free</strong></h1>

    <div class="m-t-40">
      <a href="#signupModal" data-toggle="modal" class="btn btn-lg btn-pink btn-ripple btn-rounded m-r-20 no-m-xs">EMAIL SIGNUP</a>
      <br class="d-block d-sm-none">
      <a href="https://www.facebook.com/dialog/oauth?client_id=118078171691558&amp;redirect_uri=https%3A%2F%2Fwww.wedding.com%2F%3Fwed_auth%3Dregister&amp;state=3a8204bf6f4b8150b3936d19e9dc6402&amp;scope=email" data-login="0" class="btn btn-lg btn-blue btn-ripple btn-transparent btn-rounded m-t-20-xs fconnectRemodel3">FACEBOOK SIGNUP</a>
    </div>
  </div>
</div>
<app-category-home></app-category-home>
