<div class="page-header-bg text-center btn-large-container landing-bg long-header">
  <div class="bg-image-container" style="background-image:url('https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/registry-cover.jpg')"></div>
  <div class="header-bg-content inline-block">

    <h1 class="text-lg text-header text-white no-m"><strong>Thousands of Registry Essentials, Experiences<br> and Cash Funds to Choose From</strong></h1>
    <div class="text-sm">All the Worlds Best Brands in One Place</div>

    <div class="m-t-40">
      <a href="#signupModal" data-toggle="modal" class="btn btn-lg btn-pink btn-ripple btn-rounded" id="initialSignupBtn">START YOUR REGISTRY</a>
    </div>
   </div>
</div>
<section class="home-section home-sec-1 home-sec-p-xs section-column-2 pad-xs">

  <div class="container-fluid text-center relative">
    <div class="home-text-header text-header text-dark"><strong>Wedding Registry Benefits</strong></div>
    <p class="h4 text-normal font-normal line-30">
      Have complete control of your wedding registry. Choose from Thousands of Products, Cash Registry, and Experiences all in one place.
    </p>

    <div class="row m-t-60 text-center">
      <div class="col-sm-4">
        <img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/benefit1.jpg" alt="" class="img-responsive img-circle item-shadow center-block" style="width:300px;">
        <h3 class="m-t-30 line-32">Thousands of products<br> to choose from</h3>
      </div>

      <div class="col-sm-4 m-t-30-xs">
        <img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/benefit2.jpg" alt="" class="img-responsive img-circle item-shadow center-block" style="width:300px;">
        <h3 class="m-t-30 line-32">Fund Newlywed<br> Experiences</h3>
      </div>

      <div class="col-sm-4 m-t-30-xs">
        <img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/benefit3.jpg" alt="" class="img-responsive img-circle item-shadow center-block" style="width:300px;">
        <h3 class="m-t-30 line-32">Connect to Your<br> Wedding Website</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="bg-float-circle bg-float-left"></div>
        <div class="bg-float-circle bg-float-right"></div>
      </div>
    </div>
  </div>

  <div class="text-bg" style="top: -100px;right: 0;"><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/logo-bg.png" alt=""></div>
  <div class="bottom-line float-right line-inside visible-xs" style="width: 184.5px;"></div>
</section>
<section class="home-section home-sec-1 home-sec-p-xs" style="padding-top:0;">
  <div class="container text-center m-b-30">
    <h2 class="home-text-header text-header text-dark"><strong>All the Worlds Best Brands in One Place</strong></h2>
    <p class="h4 text-normal font-normal line-30">
      Thousands of products from top brands
    </p>
  </div>
  <app-slick-slider [slides]="slides" [brand]="true"></app-slick-slider>
  <!--<div class="registry-brand-carousel slick-initialized slick-slider">
    <button type="button" class="slick-prev pink-arrow slick-arrow" style="display: block;"><img src="/functions/img/remodel3/arrow-left-white.png" width="25"></button>
    <div aria-live="polite" class="slick-list draggable" style="padding: 0px 50px;">
      <div class="slick-track" role="listbox" style="opacity: 1; width: 60000px; transform: translate3d(-1465px, 0px, 0px);">
        <div class="slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/11.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/12.png" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/8.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/9.png" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/10.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/1.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/2.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02">
          <a class="block item-shadow registry-brand-home" tabindex="0">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/3.png" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide03">
          <a class="block item-shadow registry-brand-home" tabindex="0">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/4.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-current slick-active slick-center" data-slick-index="4" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide04">
          <a class="block item-shadow registry-brand-home" tabindex="0">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/5.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide05">
          <a class="block item-shadow registry-brand-home" tabindex="0">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/6.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-active" data-slick-index="6" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide06">
          <a class="block item-shadow registry-brand-home" tabindex="0">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/7.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide07">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/11.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide08">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/12.png" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide" data-slick-index="9" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide09">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/8.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide" data-slick-index="10" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide010">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/9.png" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide" data-slick-index="11" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide011">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/10.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/1.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/2.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/3.png" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/4.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div><div class="slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" tabindex="-1">
          <a class="block item-shadow registry-brand-home" tabindex="-1">
            <span><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/registry/brands/5.jpg" alt="" class="img-responsive center-block"></span>
          </a>
        </div>
      </div>
    </div>






















    <button type="button" class="slick-next pink-arrow slick-arrow" style="display: block;"><img src="/functions/img/remodel3/arrow-right-white.png" width="25"></button>
  </div>-->
  <!-- <div class="text-bg light">Brands</div> -->
  <div class="bottom-line" style="width: 184.5px;"></div>
</section>
<section class="home-section home-sec-1 home-sec-p-xs">
  <div class="container-fluid text-center relative">
    <h2 class="home-text-header text-header text-dark m-t-60"><strong>Create your custom registry of gifts<br> and experiences</strong></h2>

    <div class="row m-t-40">
      <div class="col-md-6">
        <div class="relative registry-product-demo-group">
          <div class="registry-item">
            <div class="relative">
              <img src="https://wedding-assets.s3.amazonaws.com/uploads/cache/attachments/registries/1522364839-fp8svsdsiloleftdlf-83737bd24629509312dfb95953407119-500x500.jpg" alt="" class="img-responsive">
            </div>
            <div class="registry-content">
              <div class="text-muted l-s-1 text-upper ellipsis">
                <b>Cuisinart</b>
              </div>
              <div class="text-dark m-t-5 ellipsis"><b>Elemental 8 Cup Food Processor</b></div>
              <div class="text-pink m-t-10 h5 font-14-xs"><b>$99.95</b></div>
            </div>
          </div>
          <div class="registry-item">
            <div class="relative">
              <img src="https://wedding-assets.s3.amazonaws.com/uploads/cache/attachments/registries/1528238439-KC2CS10ST-e538ebf6aa9c832b718fb73d770c1245-500x500.jpg" alt="" class="img-responsive">
            </div>
            <div class="registry-content">
              <div class="text-muted l-s-1 text-upper ellipsis">
                <b>KitchenAid</b>
              </div>
              <div class="text-dark m-t-5 ellipsis"><b>5-ply Copper Core 10-Piece Set</b></div>
              <div class="text-pink m-t-10 h5 font-14-xs"><b>$799.99</b></div>
            </div>
          </div>
          <div class="registry-item">
            <div class="relative">
              <img src="https://wedding-assets.s3.amazonaws.com/uploads/cache/attachments/registries/1522043432-BL660-a9dab015b5ebf6fce8c88e0d387c057d-500x500.jpg" alt="" class="img-responsive">
            </div>
            <div class="registry-content">
              <div class="text-muted l-s-1 text-upper ellipsis">
                <b>Ninja</b>
              </div>
              <div class="text-dark m-t-5 ellipsis"><b>Professional Blender w/Single Serve Cup</b></div>
              <div class="text-pink m-t-10 h5 font-14-xs"><b>$139.99</b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled list-icon-group h5 font-normal text-muted line-32 text-left m-l-40 m-t-100 m-t-30-sm m-t-30-xs no-m-l-xs">
          <li class="m-b-30">
            <div class="list-icon"><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/check-pink.svg" width="30"></div>
            <div class="m-l-10 relative m-d-3">
              <div class="text-muted h3 h4-xs line-32">Create Your Personal Registry</div>
            </div>
          </li>
          <li class="m-b-30">
            <div class="list-icon"><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/check-pink.svg" width="30"></div>
            <div class="m-l-10 relative m-d-3">
              <div class="text-muted h3 h4-xs m-t-5 line-32">Add Products, Cash Funds and Experiences</div>
            </div>
          </li>
          <li class="m-b-30">
            <div class="list-icon"><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/check-pink.svg" width="30"></div>
            <div class="m-l-10 relative m-d-3">
              <div class="text-muted h3 h4-xs m-t-5 line-32">Your guests easily purchase from your Registry</div>
            </div>
          </li>
          <li class="m-b-30">
            <div class="list-icon"><img src="https://d2i1877txwywxu.cloudfront.net/functions/img/remodel3/check-pink.svg" width="30"></div>
            <div class="m-l-10 relative m-d-3">
              <div class="text-muted h3 h4-xs m-t-5 line-32">Cash funds are transferred directly to your account</div>
            </div>
          </li>
        </ul>
      </div>
    </div><!-- /.row -->
  </div>
  <div class="text-bg light">Registry</div>
  <div class="bottom-line float-right" style="width: 184.5px;"></div>
</section>
<app-category-home></app-category-home>
<section class="home-section home-sec-last home-sec-p-xs registry-sec-last btn-large-container text-center">
  <div class="container">
    <div class="text-sm">Thousands of products from top brands</div>
    <div class="text-lg text-header"><strong>Everything you Need to Plan<br class="hidden-xs"> Your Wedding in one Place</strong></div>

    <div class="m-t-40">
      <a href="#signupModal" data-toggle="modal" class="btn btn-lg btn-pink btn-ripple btn-rounded m-r-20 no-m-xs">START YOUR REGISTRY</a>
    </div>
  </div>

  <div class="bottom-line float-right" style="width: 184.5px;"></div>
</section>
