<div class="clearfix container">
    <div class="footer-row">
      <div class="footer-col">
        <a href="http://www.letsplanevent.com/">
          <img src="{{ImageBaseUrl}}/assets/Images/letsplanevent-logo-color.png" alt="{{websiteName | lowercase}}">
        </a>
      </div>

      <div class="footer-col">
        <h4>COMPANY</h4>

        <ul class="list-unstyled m-t-20 line-28">
          <li *ngFor="let aboutLink of aboutLinks">
            <a href="{{aboutLink.link}}" class="{{aboutLink.className}}">{{aboutLink.text}}</a>
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>{{websiteName | uppercase}}</h4>

        <address class="m-t-20 line-28">
          10/3 Hutchins Road<br>
          Bangalore, KA 560084<br>
          {{contactPhoneNo}}<br>
          M-F (9am-6pm) IST
        </address>
      </div>

      <div class="footer-col">
        <h4>CONTACT</h4>
        <p class="m-t-20 line-24"><a href="https://www.wedding.com/contactus" class="text-pink"><b>{{contactEmail}}</b></a></p>
        <h4 class="m-t-20">VENDOR</h4>
        <p class="m-t-20 line-24"><a href="https://www.wedding.com/vendor-signup" class="text-pink"><b>Click Here</b></a></p>
      </div>

      <div class="footer-col">
        <h4>LEGAL &amp; CREDITS</h4>
        <p class="m-t-20 line-28"> &copy; {{today | date:'yyyy'}} - {{companyName}}
         <br class="hidden-sm">
          All Rights Reserved.
        </p>

        <div class="m-t-20">
          <a *ngFor="let socialLink of socialLinks" class="{{socialLink.className}} mr-2" href="{{socialLink.link}}" title="{{socialLink.text}}" target="_blank">
            <img src="{{ImageBaseUrl}}assets/Images/home/{{socialLink.imageUrl}}" width='{{socialLink.width}}' alt="{{socialLink.text}}">
          </a>
        
        </div>
      </div>

    </div>
  </div>

