
<div class="wrapper responsive bs-app guest-nav">
  <div class="header-container">
    <app-header></app-header>
  </div>
  <div class="body-container" #body>
    <router-outlet></router-outlet>
  </div>
  <div class="clear-fix footer-container {{isFooterFixed?'position-absolute':''}}">
    <app-footer></app-footer>
  </div>
</div>
  <a href="#" class="scroll-to-top active" id="scroll-to-top-arrow"><i class="fa fa-arrow-up"></i></a>



  <!--
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
  
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          
        </div>
      </div>
    </div>
  </div>-->
