
<div class="wrapper event-wrapper">
  <div class="wedding-wrapper header-container" [ngClass]="{'fixed-header':!isCollapsed}">
    <app-header (isCollapsedEvent)='isCollapsedEvent($event)'></app-header>
  </div>
  <div class="body-container" #body>
    <router-outlet></router-outlet>
  </div>
  <footer class="clear-fix event-footer {{isFooterFixed?'position-absolute':''}}">
    <app-footer></app-footer>
  </footer>
</div>
  <div class="scroll-top active text-center" id="scroll-to-top-arrow" (click)="scrollTopClick()"><img src="{{ImageBaseUrl}}assets/Images/home/arrow-top-white.png" alt=""></div>



  
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
  
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          
        </div>
      </div>
    </div>
  </div>
