
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="text-center" id="loginContent">
    <div class="font-26 text-center p-b-10 block centered">Login to <span class="font-semi-bold">Letsplanevent.com</span></div>
    <div *ngIf="submitted" class="container-fluid pad-md errors font-14 text-center">
      <div *ngIf="error">{{error}}</div>
    </div>
    <div class="row m-t-20">
      <div class="col-sm-8 offset-sm-2">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input type="text" name="emaillogin" id="txtemaillogin" formControlName="userName" placeholder="Email Address/ Phone Number" class="input-lg form-control input-rounded {{isPhoneNo?'p-l-65':''}}" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" [maxLength]="maxLength" value="" (input)="onChange($event.target.value)">
              <div class="pincode-container" *ngIf="isPhoneNo">+91-</div>
              <div *ngIf="submitted && f.userName.errors" class="container-fluid pad-md errors font-14 m-t-5 text-left">
                <div *ngIf="f.userName.errors.required">Email/ Phone is required.</div>
                <div *ngIf="!f.userName.errors.required && !f.userName.errors.email && f.userName.errors.emailExists">User doesn't exist with the email.</div>
                <div *ngIf="f.userName.errors.email">Email not valid.</div>
                <div *ngIf="f.userName.errors.pattern">Mobile number not valid.</div>
                <div *ngIf="!f.userName.errors.required && !f.userName.errors.pattern && f.userName.errors.mobileNoExists">User doesn't exist</div>

              </div>

            </div>
            <div class="form-group m-top-md">
              <input type="password" placeholder="Password" formControlName="password" class="input-lg form-control input-rounded" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="txtpasswordlogin" id="txtpwdlogin">
              <div *ngIf="submitted && f.password.errors" class="container-fluid pad-md errors font-14 m-t-5 text-left">
                <div *ngIf="f.password.errors.required">Password is required.</div>
                <div *ngIf="f.password.errors.minlength">Password must be atleast 8 characters.</div>
              </div>
            </div>
            <div class="container-fluid text-left pad-md">
              <div class="checkbox font-14">
                <label>
                  <mat-checkbox formControlName="remember">Remember my {{isPhoneNo?'phone':'email'}} on this computer</mat-checkbox>
                </label>
              </div>
            </div>
            <button class="btn btn-blue btn-light btn-rounded btn-ripple m-t-5 m-b-10 text-upper font-14" id="btnLoginPop">Login</button>
            <div class="m-b-10 font-14 text-center"><a href="#" id="forgotPasswordLink" (click)="onForgotPaswordClick()">Forgot Your Password? <i class="fa fa-angle-double-right text-normal font-10"></i></a></div>
            <div class="text-line-separate">
              <span><b>or</b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://www.facebook.com/dialog/oauth?client_id=882488531798121&amp;redirect_uri=http%3A%2F%2Fwww.letsplanevent.com%3Fuevt_auth%3Dreturn&amp;state=ish458e44c790f004818a6e51a346ef0b5&amp;scope=email,user_photos,user_birthday,user_likes,user_events" login="0" class="clearfix btn-rounded btn btn-blue text-upper m-t-10 font-14 fconnect_login">
      <img src="{{ImageBaseUrl}}assets/Images/fb-white.png" alt="" class="m-right-sm">
      Connect With Facebook
    </a>
    <div class="m-t-10 text-grey font-12"><b>We don't post anything without your permission.</b></div>
    <input type="hidden" formControlName="loginMethod">
    <input type="hidden" name="md5pass" id="md5pass">
    <input type="hidden" name="md5pass_utf" id="md5pass_utf">
  </div>
  </form>
