$spaceamounts: (0,5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 65, 75, 100);
$sides: (top, bottom, left, right);
$weights:(400,500,600,700);
@each $space in $spaceamounts {
  @each $side in $sides {

    .m-#{str-slice($side, 0, 1)}-#{$space}-sm {
      @media(max-width:767px) {
        margin-#{$side}: #{$space}px !important;
      }
    }

    .p-#{str-slice($side, 0, 1)}-#{$space}-sm {
      @media(max-width:767px) {
        padding-#{$side}: #{$space}px !important;
      }
    }

    .m-#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
     }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
       padding-#{$side}: #{$space}px !important;
    }
    }
}

@for $j from 5 through 50 {
  .font-#{$j} {
    @media(max-width:767px) {
      font-size: #{$j/1.2}px !important;
    }

    @media(max-width:500px) {
      font-size: #{$j/1.5}px !important;
    }
    @media(min-width:1200px) {
      font-size: #{$j}px !important;
    }
  }
}
@for $j from 10 through 50 {
  .line-#{$j} {
    line-height: #{$j}px !important;
  }
}

@import url('//fonts.googleapis.com/css?family=Pacifico');
@import url('//fonts.googleapis.com/css?family=Playfair+Display:700');

@each $weight in $weights{

  @font-face {
    font-family: 'geomanist';
    $url: "http://localhost:4200/assets/fonts/geomanist-regular-webfont.woff2";
    src: url($url);
    //src: url('~src/assets/fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),url('~src/assets/fonts/geomanist-regular-webfont.woff2') format('woff2'),url('~src/assets/fonts/geomanist-regular-webfont.woff') format('woff'),url('~src/assets/fonts/geomanist-regular-webfont.ttf') format('truetype'),url('~src/assets/fonts/geomanist-regular-webfont.svg#geomanist_regularregular') format('svg');
    font-weight: #{$weight};
    font-style: normal
  }
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-family: 'geomanist';
  font-size:14px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #4b4b4b;
}
.h3, h3 {
  font-size: 24px;
}
.h4, h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}
.form-control.ng-valid {
  background-color: #E6FBE1;
  border-color: #20a00d;
}
.form-control.ng-valid:-webkit-autofill {
  background-color: #E6FBE1!important;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  background: #F9EFF1;
}
.errors, .error {
  color: #f05a5c;
}
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}
@media(max-width:767px){
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.form-control {
  height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fafafa;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control.input-rounded {
  border-radius: 50em;
}
@media (min-width: 768px){
  .container-fluid.pad-md {padding-left: 30px; padding-right: 30px; }
}
.checkbox, .radio {
  font-family: HelveticaNeueW01-55Roma,"Helvetica Neue",Helvetica,Arial,Sans-serif;
  color: #575757;
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-wrapper .checkbox {
  color: #ababab;
}
.checkbox label, .radio label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.mat-checkbox-frame {
  border-radius: 50%!important;
  border: 3px solid #e2e2e2;
  background: #f2fafd;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    display: none;
  }

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-top: 4px;
  }

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
  }

  .animated-checkbox, .animated-radio {
    position: absolute;
    margin-left: -30px;
  }

  .animated-checkbox > div, .animated-radio > div {
    position: relative;
    display: inline-block;
    height: 23px;
    width: 23px;
    border-radius: 50em;
    vertical-align: middle;
    margin-top: -3px;
  }

  .animated-checkbox > div:before, .animated-radio > div:before {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50em;
    background: #f2fafd;
    border: 3px solid #00a6dc;
    z-index: 2;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
  }

  .animated-checkbox > div > span, .animated-radio > div > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: 100%;
    border: 3px solid #e2e2e2;
  }
.pincode-container {
  position: absolute;
  top: 9px;
  left: 45px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn {
    padding: 11px 55px;
    letter-spacing: 2px;
    font-weight: 700;
    outline: none !important;
    font-family: 'geomanist';
  }

  .btn-lg {
    padding: 20px 70px;
    font-size: 14px;
  }

  .modal-wrapper .btn:not(.w-normal):not(.dropdown-toggle) {
    padding-left: 50px;
    padding-right: 50px;
    min-width: 250px;
  }

  .text-line-separate {
    position: relative;
  }

  .text-line-separate:before {
    left: 0;
  }

  .text-line-separate:after {
    right: 0;
  }

  .text-line-separate:after, .text-line-separate:before {
    content: '';
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 50%;
    width: 42%;
  }

  .btn-loading:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 6px;
    /*background-image: url('../../img/remodel3/three-dots-white.svg');*/
    background-size: 100%;
    margin-right: 10px;
    position: relative;
    top: -2px
  }

  .btn-loading.btn-default:before, .btn-loading.btn-light:before {
    /*background-image: url('../../img/remodel3/three-dots.svg')*/
  }

  .btn-checked:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    /*background-image: url('../../img/remodel3/checked-w.svg');*/
    background-size: 100%;
    margin-right: 10px;
    position: relative;
    top: 0
  }

  .btn-checked.btn-default:before, .btn-checked.btn-light:before {
    /*background-image: url('../../img/remodel3/checked-g.svg')*/
  }

  .btn-pink {
    color: #fff;
    background-color: #ed3d90
  }

  .btn-pink.btn-light {
    background-color: #fef5f9;
    color: #ed3d90;
    border: 2px solid #ed3d90
  }

  .btn-pink:hover, .btn-pink:focus {
    color: #fff;
    background-color: #ef549d
  }

  .btn-pink.btn-transparent {
    border: 2px solid #ed3d90
  }

  .btn-pink.btn-transparent:hover, .btn-pink.btn-transparent:focus {
    background-color: #ed3d90
  }

  .btn-blue {
    color: #fff;
    background-color: #00a6dc
  }

  .btn-blue.btn-light {
    background-color: #f2fafd;
    color: #00a6dc;
    border: 2px solid #00a6dc
  }

  .btn-blue:hover, .btn-blue:focus {
    color: #fff;
    background-color: #00b9f6
  }

  .btn-blue.btn-transparent {
    border: 2px solid #00a6dc
  }

  .btn-blue.btn-transparent:hover, .btn-blue.btn-transparent:focus {
    background-color: #00a6dc
  }

  .btn-transparent {
    background: rgba(255,255,255,0.03);
    border-color: rgba(255,255,255,0.7)
  }

  .btn-transparent:hover, .btn-transparent:focus {
    background: rgba(255,255,255,0.03);
    border-color: #fff;
    color: #fff
  }

  .btn-rounded {
    border-radius: 50em
  }

  .btn-glow:before {
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    animation: fade 1s ease alternate infinite;
    -webkit-animation: fade 1s ease alternate infinite
  }

  .btn-glow.btn-blue:before {
    background: #00a6dc
  }

  .btn-glow.btn-pink:before {
    background: #ed3d90
  }

  .btn-ripple {
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  .ink {
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  .btn-rounded .ink {
    border-radius: 50em
  }

  .ripple-animate {
    -webkit-animation: ripple .65s linear;
    animation: ripple .65s linear
  }

  @-webkit-keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5)
    }
  }

  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5)
    }
  }

  .modal-dialog {
    max-width: 100%;
  }

  @media (min-width:768px) {
    .modal-dialog {
      width: 600px;
      margin: 30px auto
    }

    .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

    .modal-sm {
      width: 300px
    }
  }

  @media (min-width:992px) {
    .modal-lg {
      width: 900px
    }
  }

  @media (min-width:992px) {
    .modal-lg.modal-dialog {
      width: 950px
    }
  }

  @media (min-width:1200px) {
    .modal-extra-lg.modal-dialog {
      width: 1100px
    }
  }

  .modal-content {
    box-shadow: 0 15px 30px rgba(50,50,50,0.12),0 -1px 30px rgba(50,50,50,0.06);
    -webkit-box-shadow: 0 15px 30px rgba(50,50,50,0.12),0 -1px 30px rgba(50,50,50,0.06)
  }

  .modal-content .text-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    color: #f8f8f8;
    font-size: 350px;
    border-radius: 6px;
    display: none !important
  }

  .modal-content .text-bg span {
    display: block;
    margin-top: -20px;
    margin-left: -70px
  }

  @media (max-width:767px) {
    .modal-content .btn:not(.btn-xs) {
      padding: 10px 30px
    }
  }

  .modal-header {
    position: relative;
    z-index: 3;
    font-size: 27px;
    padding: 0px 30px;
    border-bottom: 0
  }

  .modal-header .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
  }

  @media (max-width:600px) {
    .modal-header {
      padding-left: 15px;
      padding-right: 15px
    }
  }

  @media (max-width:767px) {
    .modal-header h1 {
      font-size: 26px;
      line-height: 40px
    }
  }

  .modal-header .text-zoom {
    font-size: 1.5em
  }

  .modal-body {
    padding: 15px 30px 30px;
    z-index: 2
  }

  @media (max-width:600px) {
    .modal-body {
      padding-left: 15px;
      padding-right: 15px
    }
  }

  .modal-footer {
    position: relative;
    z-index: 2;
    background-color: #f6f6f6;
    border-top: 0;
    padding: 30px;
    padding-top: 10px;
    border-radius: 0 0 6px 6px;
    justify-content: center;
  }

  .modal-footer.text-center {
    text-align: center
  }

  @media (max-width:600px) {
    .modal-footer {
      padding: 20px 15px
    }
  }

  .modal.fade .modal-dialog .modal-content {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    -webkit-transition: -webkit-transform .5s ease-out,width .3s ease-out;
    transition: transform .5s ease-out,width .3s ease-out
  }

  .modal.in .modal-dialog .modal-content {
    display: block;
    animation: .8s fadeInUp;
    -webkit-animation: .8s fadeInUp;
    -moz-animation: .8s fadeInUp;
    -ms-animation: fadeInUp .8s ease;
    -o-animation: .8s fadeInUp;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }



  .modal.modal-scale .modal-dialog {
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s
  }

  .modal.modal-scale.in .modal-dialog {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  .modal-angular {
    display: block;
    opacity: 0;
    background-color: rgba(0,0,0,0.5)
  }

  .modal-angular .modal-dialog {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out
  }

  .modal-angular.opened {
    opacity: 1;
    transition: opacity .2;
    -webkit-transition: opacity .2s
  }

  .modal-angular.opened .modal-dialog {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
  }

  .modal-angular.modal-scale .modal-dialog {
    transform: scale(.5);
    -webkit-transform: scale(.5);
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s
  }

  .modal-angular.modal-scale.opened .modal-dialog {
    transform: scale(1);
    -webkit-transform: scale(1)
  }

  .no-header .modal-header {
    padding-bottom: 0;
    height: 10px;
  }

  .no-header .modal-body {
    padding-top: 0
  }

  .modal-center .modal-header .font-header {
    margin-top: 60px
  }

  @media (min-width:601px) {
    .modal-center .btn:not(.w-normal):not(.dropdown-toggle) {
      padding-left: 55px;
      padding-right: 55px;
      min-width: 250px
    }
  }

  @media (max-width:600px) {
    .modal-center .btn:not(.w-normal):not(.dropdown-toggle) {
      padding-left: 15px;
      padding-right: 15px;
      min-width: 120px
    }
  }

  .modal-center .text-bg {
    font-size: 550px
  }

  .modal-center .text-bg span {
    margin-top: -300px;
    margin-left: -450px
  }

  .modal-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-image: url('../../img/remodel3/vendor/modal-bg.jpg');
    background-size: cover;
    opacity: 0;
    z-index: 1051;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: opacity 1s;
    -webkit-transition: opacity 1s
  }

  .modal-fullscreen.active {
    opacity: 1
  }

  .modal-fullscreen .modal-step-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 50px 30px;
    transition: transform .5s;
    -webkit-transition: -webkit-transform .5s
  }

  @media (max-width:767px) {
    .modal-fullscreen .modal-step-content {
      padding: 20px 15px
    }
  }

  .modal-fullscreen .modal-step-content.move-left {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    overflow: hidden
  }

  .modal-fullscreen .modal-step-content.move-right {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    overflow: hidden
  }

  @media (min-width:768px) {
    .modal-expand .modal-dialog {
      width: 720px
    }
  }
.help-font {
  font-size: 12px !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.scroll-top {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #ed3d90;
  border-radius: 50em;
  position: fixed;
  right: 15px;
  bottom: 30px;
  opacity: 0;
  cursor: pointer;
  z-index: 11;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}
@media (max-width:767px) {
  .scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .btn-size-responsive {
    font-size: 12px !important;
    padding: 10px 15px !important;
  }
}

.scroll-top.active {
  opacity: .5;
}
.scroll-top:hover {
  opacity: 1;
}
  .preload * {
    animation: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important
  }

  .fade.in {
    opacity: 1;
  }

  .fadeInDown {
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s
  }

  .fadeInUp {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s
  }

  .fadeInLeft {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s
  }

  .fadeInRight {
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s
  }

  .flipInV {
    animation-name: flipInV;
    -webkit-animation-name: flipInV;
    -moz-animation-name: flipInV;
    -ms-animation-name: flipInV;
    -o-animation-name: flipInV;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s
  }

  .flipInH {
    animation-name: flipInH;
    -webkit-animation-name: flipInH;
    -moz-animation-name: flipInH;
    -ms-animation-name: flipInH;
    -o-animation-name: flipInH;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s
  }

  .progress-start {
    animation-name: progress-start;
    -webkit-animation-name: progress-start;
    -moz-animation-name: progress-start;
    -ms-animation-name: progress-start;
    -o-animation-name: progress-start;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s
  }

  .wobble-horizontal {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-animation-name: wobble-horizontal;
    animation-name: wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
  }

  .animation-infinite {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite
  }

  .animation-delay1 {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay2 {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay3 {
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay4 {
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay5 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay6 {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay7 {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -ms-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay8 {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay9 {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -ms-animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

  .animation-delay10 {
    animation-delay: 20s;
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -ms-animation-delay: 20s;
    -o-animation-delay: 20s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both
  }

@keyframes bg-zoom {
  100% {
    transform: scale3d(1.1, 1.1, 1.1)
  }
}

@-webkit-keyframes bg-zoom {
  100% {
    transform: scale3d(1.1, 1.1, 1.1)
  }
}
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0)
    }
  }

  @-moz-keyframes fadeInDown {
    0% {
      opacity: 0;
      -moz-transform: translateY(-20px)
    }

    100% {
      opacity: 1;
      -moz-transform: translateY(0)
    }
  }

  @-ms-keyframes fadeInDown {
    0% {
      opacity: 0;
      -ms-transform: translateY(-20px)
    }

    100% {
      opacity: 1;
      -ms-transform: translateY(0)
    }
  }

  @-o-keyframes fadeInDown {
    0% {
      opacity: 0;
      -o-transform: translateY(-20px)
    }

    100% {
      opacity: 1;
      -o-transform: translateY(0)
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0)
    }
  }

  @-moz-keyframes fadeInUp {
    0% {
      opacity: 0;
      -moz-transform: translateY(50px)
    }

    100% {
      opacity: 1;
      -moz-transform: translateY(0)
    }
  }

  @-ms-keyframes fadeInUp {
    0% {
      opacity: 0;
      -ms-transform: translateY(50px)
    }

    100% {
      opacity: 1;
      -ms-transform: translateY(0)
    }
  }

  @-o-keyframes fadeInUp {
    0% {
      opacity: 0;
      -o-transform: translateY(20px)
    }

    100% {
      opacity: 1;
      -o-transform: translateY(0)
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(20px)
    }

    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0)
    }
  }

  @-moz-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -moz-transform: translateX(20px)
    }

    100% {
      opacity: 1;
      -moz-transform: translateX(0)
    }
  }

  @-ms-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -ms-transform: translateX(20px)
    }

    100% {
      opacity: 1;
      -ms-transform: translateX(0)
    }
  }

  @-o-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -o-transform: translateX(20px)
    }

    100% {
      opacity: 1;
      -o-transform: translateX(0)
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-20px)
    }

    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0)
    }
  }

  @-moz-keyframes fadeInRight {
    0% {
      opacity: 0;
      -moz-transform: translateX(-20px)
    }

    100% {
      opacity: 1;
      -moz-transform: translateX(0)
    }
  }

  @-ms-keyframes fadeInRight {
    0% {
      opacity: 0;
      -ms-transform: translateX(-20px)
    }

    100% {
      opacity: 1;
      -ms-transform: translateX(0)
    }
  }

  @-o-keyframes fadeInRight {
    0% {
      opacity: 0;
      -o-transform: translateX(-20px)
    }

    100% {
      opacity: 1;
      -o-transform: translateX(0)
    }
  }

  @-webkit-keyframes bounce {
    0%,100% {
      -webkit-transform: scale(0)
    }

    50% {
      -webkit-transform: scale(1)
    }
  }

  @keyframes bounce {
    0%,100% {
      transform: scale(0);
      -webkit-transform: scale(0)
    }

    50% {
      transform: scale(1);
      -webkit-transform: scale(1)
    }
  }

  @-webkit-keyframes bounceIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(.7)
    }

    50% {
      opacity: 1;
      -webkit-transform: scale(1.05)
    }

    100% {
      -webkit-transform: scale(1)
    }
  }

  @-moz-keyframes bounceIn {
    0% {
      opacity: 0;
      -moz-transform: scale(.7)
    }

    50% {
      opacity: 1;
      -moz-transform: scale(1.05)
    }

    100% {
      -moz-transform: scale(1)
    }
  }

  @-ms-keyframes bounceIn {
    0% {
      opacity: 0;
      -ms-transform: scale(.7)
    }

    50% {
      opacity: 1;
      -ms-transform: scale(1.1)
    }

    100% {
      -ms-transform: scale(1)
    }
  }

  @-o-keyframes bounceIn {
    0% {
      opacity: 0;
      -o-transform: scale(.7)
    }

    50% {
      opacity: 1;
      -o-transform: scale(1.1)
    }

    100% {
      -o-transform: scale(1)
    }
  }

  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(.7)
    }

    50% {
      opacity: 1;
      transform: scale(1.1)
    }

    100% {
      transform: scale(1)
    }
  }

  @-webkit-keyframes bounceInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-1000px)
    }

    60% {
      opacity: 1;
      -webkit-transform: translateY(30px)
    }

    80% {
      -webkit-transform: translateY(-20px)
    }

    100% {
      -webkit-transform: translateY(0)
    }
  }

  @-moz-keyframes bounceInDown {
    0% {
      opacity: 0;
      -moz-transform: translateY(-1000px)
    }

    60% {
      opacity: 1;
      -moz-transform: translateY(30px)
    }

    80% {
      -moz-transform: translateY(-20%)
    }

    100% {
      -moz-transform: translateY(0)
    }
  }

  @-ms-keyframes bounceInDown {
    0% {
      opacity: 0;
      -ms-transform: translateY(-1000px)
    }

    60% {
      opacity: 1;
      -ms-transform: translateY(30px)
    }

    80% {
      -ms-transform: translateY(-20px)
    }

    100% {
      -ms-transform: translateY(0)
    }
  }

  @-o-keyframes bounceInDown {
    0% {
      opacity: 0;
      -o-transform: translateY(-1000px)
    }

    60% {
      opacity: 1;
      -o-transform: translateY(30px)
    }

    80% {
      -o-transform: translateY(-20%)
    }

    100% {
      -o-transform: translateY(0)
    }
  }

  @keyframes bounceInDown {
    0% {
      opacity: 0;
      transform: translateY(-1000px)
    }

    60% {
      opacity: 1;
      transform: translateY(30px)
    }

    80% {
      transform: translateY(-20px)
    }

    100% {
      transform: translateY(0)
    }
  }

  @-webkit-keyframes flipInV {
    0% {
      -webkit-transform: perspective(1000px) rotateX(90deg);
      opacity: 0
    }

    33% {
      -webkit-transform: perspective(1000px) rotateX(-10deg)
    }

    66% {
      -webkit-transform: perspective(1000px) rotateX(10deg)
    }

    100% {
      -webkit-transform: perspective(1000px) rotateX(0deg);
      opacity: 1
    }
  }

  @-moz-keyframes flipInV {
    0% {
      -moz-transform: perspective(1000px) rotateX(90deg);
      opacity: 0
    }

    33% {
      -moz-transform: perspective(1000px) rotateX(-10deg)
    }

    66% {
      -moz-transform: perspective(1000px) rotateX(10deg)
    }

    100% {
      -moz-transform: perspective(1000px) rotateX(0deg);
      opacity: 1
    }
  }

  @-ms-keyframes flipInV {
    0% {
      -ms-transform: perspective(1000px) rotateX(90deg);
      opacity: 0
    }

    33% {
      -ms-transform: perspective(1000px) rotateX(-10deg)
    }

    66% {
      -ms-transform: perspective(1000px) rotateX(10deg)
    }

    100% {
      -ms-transform: perspective(1000px) rotateX(0deg);
      opacity: 1
    }
  }

  @-o-keyframes flipInV {
    0% {
      -o-transform: perspective(1000px) rotateX(90deg);
      opacity: 0
    }

    33% {
      -o-transform: perspective(1000px) rotateX(-10deg)
    }

    66% {
      -o-transform: perspective(1000px) rotateX(10deg)
    }

    100% {
      -o-transform: perspective(1000px) rotateX(0deg);
      opacity: 1
    }
  }

  @keyframes flipInV {
    0% {
      transform: perspective(1000px) rotateX(90deg);
      opacity: 0
    }

    33% {
      transform: perspective(1000px) rotateX(-10deg)
    }

    66% {
      transform: perspective(1000px) rotateX(10deg)
    }

    100% {
      transform: perspective(1000px) rotateX(0deg);
      opacity: 1
    }
  }

  @-webkit-keyframes flipInH {
    0% {
      -webkit-transform: perspective(1000px) rotateY(90deg);
      opacity: 0
    }

    33% {
      -webkit-transform: perspective(1000px) rotateY(-10deg)
    }

    66% {
      -webkit-transform: perspective(1000px) rotateY(10deg)
    }

    100% {
      -webkit-transform: perspective(1000px) rotateY(0deg);
      opacity: 1
    }
  }

  @-moz-keyframes flipInH {
    0% {
      -moz-transform: perspective(1000px) rotateY(90deg);
      opacity: 0
    }

    33% {
      -moz-transform: perspective(1000px) rotateY(-10deg)
    }

    66% {
      -moz-transform: perspective(1000px) rotateY(10deg)
    }

    100% {
      -moz-transform: perspective(1000px) rotateY(0deg);
      opacity: 1
    }
  }

  @-ms-keyframes flipInH {
    0% {
      -ms-transform: perspective(1000px) rotateY(90deg);
      opacity: 0
    }

    33% {
      -ms-transform: perspective(1000px) rotateY(-10deg)
    }

    66% {
      -ms-transform: perspective(1000px) rotateY(10deg)
    }

    100% {
      -ms-transform: perspective(1000px) rotateY(0deg);
      opacity: 1
    }
  }

  @-o-keyframes flipInH {
    0% {
      -o-transform: perspective(1000px) rotateY(90deg);
      opacity: 0
    }

    33% {
      -o-transform: perspective(1000px) rotateY(-10deg)
    }

    66% {
      -o-transform: perspective(1000px) rotateY(10deg)
    }

    100% {
      -o-transform: perspective(1000px) rotateY(0deg);
      opacity: 1
    }
  }

  @keyframes flipInH {
    0% {
      transform: perspective(1000px) rotateY(90deg);
      opacity: 0
    }

    33% {
      transform: perspective(1000px) rotateY(-10deg)
    }

    66% {
      transform: perspective(1000px) rotateY(10deg)
    }

    100% {
      transform: perspective(1000px) rotateY(0deg);
      opacity: 1
    }
  }

  @-webkit-keyframes progress-bar-stripes {
    0% {
      background-position: 40px 0
    }

    100% {
      background-position: 0 0
    }
  }

  @-webkit-keyframes progress-start {
    0% {
      width: 0
    }
  }

  @-moz-keyframes progress-start {
    0% {
      width: 0
    }
  }

  @-ms-keyframes progress-start {
    0% {
      width: 0
    }
  }

  @-o-keyframes progress-start {
    0% {
      width: 0
    }
  }

  @keyframes progress-start {
    0% {
      width: 0
    }
  }

  @-webkit-keyframes text-flashing {
    50% {
      color: #fff
    }
  }

  @-moz-keyframes text-flashing {
    50% {
      color: #fff
    }
  }

  @-ms-keyframes text-flashing {
    50% {
      color: #fff
    }
  }

  @-o-keyframes text-flashing {
    50% {
      color: #fff
    }
  }

  @keyframes text-flashing {
    50% {
      color: #fff
    }
  }

  @-webkit-keyframes sonar {
    from {
      -webkit-transform: scale(0);
      opacity: 1
    }

    to {
      -webkit-transform: scale(1);
      opacity: 0
    }
  }

  @-moz-keyframes sonar {
    from {
      -moz-transform: scale(0);
      opacity: 1
    }

    to {
      -moz-transform: scale(1);
      opacity: 0
    }
  }

  @-ms-keyframes sonar {
    from {
      -ms-transform: scale(0);
      opacity: 1
    }

    to {
      -ms-transform: scale(1);
      opacity: 0
    }
  }

  @-o-keyframes sonar {
    from {
      -o-transform: scale(0);
      opacity: 1
    }

    to {
      -o-transform: scale(1);
      opacity: 0
    }
  }

  @keyframes sonar {
    from {
      transform: scale(0);
      opacity: 1
    }

    to {
      transform: scale(1);
      opacity: 0
    }
  }

  @-webkit-keyframes wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px)
    }

    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px)
    }

    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px)
    }

    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px)
    }

    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px)
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
    }
  }

  @keyframes wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px)
    }

    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px)
    }

    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px)
    }

    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px)
    }

    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px)
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
    }
  }

  @-webkit-keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    20% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    30% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    40% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0)
    }

    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0)
    }
  }

  @keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    20% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    30% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    40% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg)
    }

    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg)
    }

    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0)
    }

    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0)
    }
  }

  @-webkit-keyframes hvr-wobble-horizontal {
    4.15% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px)
    }

    8.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px)
    }

    12.45% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px)
    }

    16.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px)
    }

    20.75% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px)
    }

    25% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
    }
  }

  @keyframes hvr-wobble-horizontal {
    4.15% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px)
    }

    8.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px)
    }

    12.45% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px)
    }

    16.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px)
    }

    20.75% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px)
    }

    25% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
    }
  }

  .pull-left {
    float: left !important;
  }

  .pull-right {
    float: right !important;
  }

  .relative {
    position: relative;
  }

  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .hide {
    display: none;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }

  .line-through {
    text-decoration: line-through;
  }

  .pointer {
    cursor: pointer;
  }

  .transparent {
    opacity: 0;
  }

  .full-width {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .width-auto {
    width: auto;
  }

  .rounded {
    border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
  }

  .nowrap {
    white-space: nowrap;
  }

  .hover-up {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-backface-visibility: hidden;
  }

  .hover-up:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }

  .font-merriweather {
    font-family: merriweather !important;
  }

  .font-montserrat {
    font-family: montserrat !important;
  }
 .line-grey {
    height: 2px;
    background-color: #B8B8B8;
    margin: 20px 0px 0px;
  }

  .font-light {
    font-weight: 300;
  }

  .font-normal {
    font-weight: normal;
  }

  .font-semi-bold {
    font-weight: 600;
  }

  .font-ultra-bold {
    font-weight: 900;
  }

  .font-italic {
    font-style: italic;
  }

  .no-margin {
    margin: 0 !important;
  }



  .m-left-right-xs {
    margin-left: 5px;
    margin-right: 5px
  }

  .m-left-right-sm {
    margin-left: 10px;
    margin-right: 10px;
  }

  .m-left-right-15 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .m-left-right-md {
    margin-left: 20px;
    margin-right: 20px;
  }

  .m-left-right-lg {
    margin-left: 40px;
    margin-right: 40px;
  }

  .m-bottom-xs {
    margin-bottom: 5px;
  }

  .m-bottom-sm {
    margin-bottom: 10px;
  }

  .m-bottom-15 {
    margin-bottom: 15px;
  }

  .m-bottom-md {
    margin-bottom: 20px;
  }

  .m-bottom-lg {
    margin-bottom: 40px;
  }

  .no-margin-top {
    margin-top: 0;
  }

  .no-margin-left {
    margin-left: 0;
  }

  .no-margin-right {
    margin-right: 0;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-padding-top {
    padding-top: 0 !important;
  }

  .no-padding-bottom {
    padding-bottom: 0 !important;
  }

  .no-padding-left {
    padding-left: 0 !important;
  }

  .no-padding-right {
    padding-right: 0 !important;
  }

  .padding-sm {
    padding: 10px;
  }

  .padding-md {
    padding: 20px;
  }



  .p-left-right-xs {
    padding-left: 5px;
    padding-right: 5px
  }

  .p-left-right-sm {
    padding-left: 10px;
    padding-right: 10px
  }

  .p-left-right-15 {
    padding-left: 15px;
    padding-right: 15px
  }

  .p-left-right-md {
    padding-left: 20px;
    padding-right: 20px
  }

  .p-left-right-lg {
    padding-left: 40px;
    padding-right: 40px
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }
@media(max-width:767px) {
  .text-left-xs {
    text-align: left
  }

  .text-right-xs {
    text-align: right
  }

  .text-center-xs {
    text-align: center
  }
}
  .text-upper {
    text-transform: uppercase;
  }

  .text-lower {
    text-transform: lowercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  .text-white {
    color: #fff;
  }

  .text-muted {
    color: #999;
  }

  .text-warning {
    color: #fcc633;
  }

  .text-danger {
    color: #ed664c;
  }

  .text-warning {
    color: #F6BB42;
  }

.text-normal {
  color: #ababab;
}

  .text-green-1 {
    color: #09A715
  }

  .text-green {
    color: #4a752e;
  }

  .vendor-text-green {
    color: #64A523;
  }

  .text-orange {
    color: #E67461 !important;
  }

  .text-red {
    color: #f50028;
  }

  .text-light-green {
    color: #8DB47B;
  }

  .text-light-blue {
    color: #70b1c9;
  }

  .text-blue {
    color: #4497b3;
  }

  .text-dark-blue {
    color: #355ac1;
  }

  .text-grey {
    color: #9d9d9d;
  }

  .text-pink {
    color: #CD18BD !important;
  }
.text-bg {
  position: absolute;
  font-family: 'Pacifico',cursive;
  font-size: 550px;
  line-height: 1;
  color: #f3f3f3;
  white-space: nowrap;
  user-select: none
}

.text-bg.light {
  color: #f8f8f8
}

.text-bg.text-behind {
  z-index: -1
}
/* Slick style*/
.slick-slide {
  outline: none !important
}

.slick-prev, .slick-next {
  background-color: #fff !important;
  opacity: .6;
  border-radius: 50em;
  transition: opacity .2s,transform .2;
  -webkit-transition: opacity .2s,-webkit-transform .2s;
  color: #48494b !important;
  text-align: center;
  font-size: 14px;
  z-index: 2;
  margin-top: 0;
  width: 80px;
  height: 80px
}

.page-header-bg {
  position: relative;
  height: 520px;
  color: #fff;
  z-index: 3;
}
.page-header-bg .bg-image-container {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-header-bg .header-bg-content {
  position: relative;
  z-index: 2;
}
@media(max-width:767px) {
  .page-header-bg .text-sm {
    font-size: 20px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .page-header-bg .header-bg-content.registry-bg-content .text-lg {
    font-size: 40px
  }
}

.page-header-bg .text-lg {
  font-size: 50px;
  line-height: inherit
}

@media (max-width:767px) {
  .page-header-bg .text-lg {
    font-size: 25px;
    font-family: 'geomanist'
  }
}

.page-header-bg .text-sm {
  font-size: 20px
}

@media (max-width:767px) {
  .page-header-bg .text-sm {
    margin-top: 15px
  }
}

@media (min-width:768px) {
  .page-header-bg.landing-bg {
    padding-top: 190px
  }
}

.page-header-bg.landing-bg .bg-image-container {
  background-position: center
}

@media (min-width:1200px) {
  .page-header-bg.long-header {
    padding-top: 160px
  }
}

@media (min-width:768px) and (max-width:991px) {
  .page-header-bg.long-header .text-lg {
    font-size: 40px
  }
}

@media (max-width:767px) {
  .page-header-bg.long-header {
    padding-top: 140px
  }
}

@media (min-width:1200px) {
  .page-header-bg.no-content {
    height: 542px
  }
}

.home-section {
  position: relative;
  padding-top: 197px;
  padding-bottom: 197px
}
.home-section .container-fluid {
  padding-bottom: 50px;
}
@media (min-width:768px) and (max-width:991px) {
  .home-section {
    padding-top: 130px;
    padding-bottom: 130px
  }
}

@media (max-width:767px) {
  .home-section {
    padding-top: 100px;
    padding-bottom: 100px
  }
}

@media (min-width:992px) {
  .home-section.pad-sm {
    padding-top: 140px;
    padding-bottom: 140px
  }
}

@media (min-width:992px) {
  .home-section.pad-xs {
    padding-top: 90px;
    padding-bottom: 90px
  }
}

@media (max-width:991px) {
  .home-section.pad-xs {
    padding-top: 70px;
    padding-bottom: 70px
  }
}


.home-section.no-p-t {
  padding-top: 0
}

.home-section .bg-inner .container {
  position: relative;
  z-index: 2
}

.home-section .text-bg {
  z-index: -1
}

.home-sec-last {
  padding-top: 174px;
  padding-bottom: 174px;
  background-size: cover;
  background-position: center;
  color: #fff
}
.home-sec-last.home-sec-p-xs {
  padding-top: 100px;
  padding-bottom: 100px
}

.home-sec-last.home-sec-p-xs .container {
  padding-bottom: 0
}

.home-sec-last .text-sm {
  font-size: 18px
}

@media (max-width:767px) {
  .home-sec-last .text-sm {
    font-size: 25px
  }
}

.home-sec-last .text-lg {
  font-size: 56px
}

@media (max-width:767px) {
  .home-sec-last .text-lg {
    font-size: 25px;
    font-family: 'geomanist'
  }
}
.home-text-header {
  font-size: 50px;
  line-height: inherit;
}
.bottom-line {
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 11;
  background: linear-gradient(to right, #ed3d90 0, #00a6dc 100%);
}

.bottom-line.line-inside {
  bottom: 0;
}

.bottom-line.float-right {
  left: auto;
  right: 0;
}
.home-sec-1 {
  padding-bottom: 0;
}
.home-sec-1 .pad-btm {
  padding-bottom: 156px;
}
.home-sec-p-xs .pad-btm {
  padding-bottom: 50px;
}
@media (max-width: 767px) {
 .home-sec-1 .h4 {
    font-size: 16px !important;
  }
}
@media (max-width:767px) {
  .slick-prev, .slick-next {
    width: 50px;
    height: 50px
  }
}

.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
  display: none
}

.slick-prev:hover, .slick-next:hover {
  opacity: 1
}

.slick-prev.pink-arrow, .slick-next.pink-arrow {
  background-color: #ed3d90 !important
}

.slick-prev.arrow-sm, .slick-next.arrow-sm {
  width: 45px;
  height: 45px;
  opacity: 1;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.7);
  box-shadow: 0 1px 1px rgba(0,0,0,0.7)
}

.slick-prev.arrow-sm.slick-prev, .slick-next.arrow-sm.slick-prev {
  left: -55px
}

.slick-prev.arrow-sm.slick-next, .slick-next.arrow-sm.slick-next {
  right: -55px
}

.slick-prev.arrow-sm:hover, .slick-next.arrow-sm:hover {
  background: #f3f3f3 !important
}

.slick-prev.arrow-xs, .slick-next.arrow-xs {
  width: 20px;
  height: 20px
}

.slick-prev.arrow-xs.slick-prev, .slick-next.arrow-xs.slick-prev {
  left: 0
}

@media (max-width:480px) {
  .slick-prev.arrow-xs.slick-prev, .slick-next.arrow-xs.slick-prev {
    left: 15px
  }
}

.slick-prev.arrow-xs.slick-next, .slick-next.arrow-xs.slick-next {
  right: 0
}

@media (max-width:480px) {
  .slick-prev.arrow-xs.slick-next, .slick-next.arrow-xs.slick-next {
    right: 15px
  }
}

@media (max-width:767px) {
  .slick-prev {
    left: -5px
  }
}

@media (max-width:767px) {
  .slick-next {
    right: -5px
  }
}

.slick-disabled {
  opacity: .2 !important;
  pointer-events: none
}

.slick-dots li {
  margin: 0
}

.slick-dots li button:before {
  font-size: 24px;
  color: #4b4b4b
}

.slick-dots li.slick-active button:before {
  color: #4b4b4b
}

.slick-prev.pink-arrow, .slick-next.pink-arrow {
  background-color: #ed3d90 !important;
}

.gallery-main .slick-prev {
  left: 50px;
}

.gallery-main .slick-slide {
  position: relative
}

@media (min-width:768px) and (max-width:991px) {
  .gallery-main .slick-slide, .gallery-main .slick-slide > img {
    height: 375px
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .gallery-main .slick-slide, .gallery-main .slick-slide > img {
    height: 500px
  }
}
@media (min-width:1200px) {
  .gallery-main .slick-slide, .gallery-main .slick-slide > img {
    height: 650px
  }
}

@media (min-width:768px) {
  .gallery-main .slick-slide {
    transition: opacity .2s;
    -webkit-transition: opacity .2s
  }

  .gallery-main .slick-slide > img {
    margin: 10px
  }
}

.gallery-main .slick-slide, .gallery-main .slick-slide > img {
  outline: none
}

.gallery-main .slick-slide:not(.slick-current) {
  opacity: .3
}

@media (max-width:767px) {
  .gallery-main .slick-slide:not(.slick-current) {
    opacity: 0
  }
}

.gallery-main .slick-prev {
  left: 50px
}

@media (max-width:767px) {
  .gallery-main .slick-prev {
    left: 20px
  }
}

.gallery-main .slick-next {
  right: 50px
}

@media (max-width:767px) {
  .gallery-main .slick-next {
    right: 20px
  }
}

.gallery-main .img-caption {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  left: 10px;
  right: 10px;
  color: #fff;
  padding: 10px
}

.gallery-thumbs .slick-slide {
  height: 120px;
  background: black;
  margin: 10px 5px;
  background-size: cover;
  background-position: center;
  outline: none !important
}

@media (max-width:480px) {
  .gallery-thumbs .slick-slide {
    height: 75px
  }
}

.gallery-thumbs .slick-slide:not(.slick-current) {
  opacity: .3
}

/*End Slick*/

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
  padding: 15px;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  border-color: #e2e2e2;
}
.item-shadow {
  box-shadow: 0 15px 30px rgba(50,50,50,0.12),0 -1px 30px rgba(50,50,50,0.06);
  -webkit-box-shadow: 0 15px 30px rgba(50,50,50,0.12),0 -1px 30px rgba(50,50,50,0.06);
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px){
  .m-t-5-xs {margin-top: 5px;}
  .font-12-xs {font-size: 12px;}
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-circle {
  border-radius: 50%;
}
.list-icon-group > li {
  position: relative;
  padding-left: 40px;
  min-height: 30px;
}
.list-icon-group > li .list-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
