<div class="text-center" id="forgotPasswordContent" style="display: none;">
  <div class="error" id="recover_pwd_error"></div>
  <div class="font-21">Recover My Password</div>

  <p>We will send you an email containing instructions on how you can retrieve your password. Please enter the login email address associated wth your account.</p>

  <div class="form-group">
    <div id="error_txtemailforgot" class="error font-12 text-left err-left-md">Email is required.</div>
    <input type="text" placeholder="Email:" class="input-lg" name="emailforgot" id="txtemailforgot">
  </div>

  <a class="btn btn-orange btn-lg btn-wide font-16 font-montserrat m-top-lg" id="btn-forgot">Send Email</a>

</div>
