html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.42857143;
  background-color: #fff;
  position: relative;
  height: 100%;
  color: #100906;
  font-size: 14px;
  font-family: sourceSansPro;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  margin: 0;
  width: 100%;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 351px;
}

@media (max-width:800px) {
  body {
    width: 100%;
  }
}
/*.progress{height:50px;position:absolute;display:block;}*/
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

  .progress.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
  }

  .progress.progress-sm {
    height: 10px;
  }

  .progress.active .progress-bar {
    animation: progress-bar-stripes 2s linear infinite;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
  }

  .progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #0094c7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
  }

    .progress .progress-bar.no-transition {
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
    }

    .progress .progress-bar.progress-bar-success {
      background-color: #9AD268;
    }

    .progress .progress-bar.progress-bar-danger {
      background-color: #ed664c;
    }

p {
  margin: 0 0 10px
}

a {
  font-family: sourceSansPro;
  outline: none;
  text-decoration: none;
}

  a:link, a:visited, a:active, a:hover {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

header, #footer, hgroup, nav, section {
  display: block;
}

mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix:before,
.clear-fix:after {
  content: " ";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, .h1 {
  font-size: 28px;
  font-family: montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 0;
}

  h1.single-line, .h1.single-line {
    margin-bottom: 29px;
  }

.h1-italic {
  font-family: sourceSansPro;
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
}

.h1-text {
  font-family: sourceSansPro;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 6px;
}

.second-header {
  margin-top: 12px;
}

.third-header {
  margin-top: 6px;
}

h2.has-link, .h2.has-link {
  margin-top: -2px;
}

h2 .text-float, .h2 .text-float {
  float: right;
  margin-top: -1px;
}

  h2 .text-float .btn, .h2 .text-float .btn {
    vertical-align: top;
    margin-top: 5px;
  }

h3, h4, h5 {
  font-weight: 300;
}

h5, h6 {
  font-size: 16px;
}

  h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
  }

ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

img {
  vertical-align: middle;
}

.h1-italic {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
}

.h1-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 6px;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.width-auto {
  width: auto;
}

.rounded {
  border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
}

.nowrap {
  white-space: nowrap;
}

.hover-up {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
}

  .hover-up:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }

.font-merriweather {
  font-family: merriweather !important;
}

.font-montserrat {
  font-family: montserrat !important;
}

.font-9 {
  font-size: 9px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-36 {
  font-size: 36px !important;
}

.line-1 {
  line-height: 1;
}

.line-18 {
  line-height: 18px;
}

.line-24 {
  line-height: 24px;
}

@media (max-width:480px) {
  .line-24 {
    line-height: 18px;
  }
}

.line-32 {
  line-height: 32px;
}

.line-36 {
  line-height: 36px;
}

.line-48 {
  line-height: 48px;
}

.line-grey {
  height: 2px;
  background-color: #B8B8B8;
  margin: 20px 0px 0px;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: normal;
}

.font-semi-bold {
  font-weight: 600;
}

.font-ultra-bold {
  font-weight: 900;
}

.font-italic {
  font-style: italic;
}

.no-margin {
  margin: 0 !important;
}

.m-top-xs {
  margin-top: 5px;
}

.m-top-sm {
  margin-top: 10px;
}

.m-top-md {
  margin-top: 20px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-top-lg {
  margin-top: 40px;
}

.m-left-xs {
  margin-left: 5px;
}

.m-left-sm {
  margin-left: 10px;
}

.m-left-md {
  margin-left: 20px;
}

.m-left-lg {
  margin-left: 40px;
}

.m-right-xs {
  margin-right: 5px;
}

.m-right-sm {
  margin-right: 10px;
}

.m-right-md {
  margin-right: 20px;
}

.m-right-lg {
  margin-right: 40px;
}

.m-bottom-xs {
  margin-bottom: 5px;
}

.m-bottom-sm {
  margin-bottom: 10px;
}

.m-bottom-15 {
  margin-bottom: 15px;
}

.m-bottom-md {
  margin-bottom: 20px;
}

.m-bottom-lg {
  margin-bottom: 40px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.padding-sm {
  padding: 10px;
}

.padding-md {
  padding: 20px;
}

.p-top-xs {
  padding-top: 5px !important;
}

.p-top-sm {
  padding-top: 10px !important;
}

.p-top-md {
  padding-top: 20px !important;
}

.p-top-lg {
  padding-top: 40px !important;
}

.p-left-xs {
  padding-left: 5px !important;
}

.p-left-sm {
  padding-left: 10px !important;
}

.p-left-md {
  padding-left: 20px !important;
}

.p-left-lg {
  padding-left: 40px !important;
}

.p-bottom-xs {
  padding-bottom: 5px !important;
}

.p-bottom-sm {
  padding-bottom: 10px !important;
}

.p-bottom-md {
  padding-bottom: 20px !important;
}

.p-bottom-lg {
  padding-bottom: 40px !important;
}

.p-right-xs {
  padding-right: 5px !important;
}

.p-right-sm {
  padding-right: 10px !important;
}

.p-right-md {
  padding-right: 20px !important;
}

.p-right-lg {
  padding-right: 40px !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-white {
  color: #fff;
}

.text-muted {
  color: #999;
}

.text-warning {
  color: #fcc633;
}

.text-danger {
  color: #ed664c;
}

.text-warning {
  color: #F6BB42;
}

.text-normal {
  color: #100906;
}

.text-green {
  color: #4a752e;
}

.vendor-text-green {
  color: #64A523;
}

.text-orange {
  color: #E67461 !important;
}

.text-red {
  color: #f50028;
}

.text-light-green {
  color: #8DB47B;
}

.text-light-blue {
  color: #70b1c9;
}

.text-blue {
  color: #4497b3;
}

.text-dark-blue {
  color: #72b1c7;
}

.text-grey {
  color: #9d9d9d;
}

.text-pink {
  color: #CD18BD !important;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 5px 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="email"], select.custom-select {
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.42857143;
  text-indent: 0.01px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-family: sourceSansPro;
}

::-webkit-input-placeholder {
  color: #9d9d9d;
}

::-moz-placeholder {
  color: #9d9d9d;
}
/* firefox 19+ */
:-ms-input-placeholder {
  color: #9d9d9d;
}
/* ie */
input:-moz-placeholder {
  color: #9d9d9d;
}

input[type="text"].input-lg, input[type="password"].input-lg, input[type="email"].input-lg {
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
}

input, textarea {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  color: #322D2B;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px
}

textarea {
  font-family: inherit;
  width: 500px;
}

  input:focus, textarea:focus {
    border: 1px solid #7ac0da;
  }

input[type="checkbox"] {
  background: transparent;
  border: inherit;
  width: auto;
}

input[type="submit"], input[type="button"], button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto;
}

td input[type="submit"], td input[type="button"], td button {
  font-size: 1em;
  padding: 4px;
  margin-right: 4px;
}

.login-wrapper {
  width: 470px;
  border: 1px solid #ddd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
  margin: 0 auto;
}

@media (max-width:767px) {
  .login-wrapper {
    width: 100%
  }
}

.login-wrapper .login-header {
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6
}

.login-wrapper .login-body {
  padding-left: 15px;
  padding-right: 15px
}

.login-wrapper .or-seperate {
  position: relative;
  width: 170px;
  height: 1px;
  background-color: #ddd
}

  .login-wrapper .or-seperate .text-circle {
    position: absolute;
    background-color: #E4E4E4;
    width: 40px;
    height: 40px;
    line-height: 37px;
    top: -20px;
    left: 65px;
    font-style: italic;
    font-size: 21px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em
  }

.login-wrapper input[type="text"], .login-wrapper input[type="password"], .login-wrapper input[type="email"] {
  width: 280px
}

@media (max-width:767px) {
  .login-wrapper input[type="text"], .login-wrapper input[type="password"], .login-wrapper input[type="email"] {
    width: 90%
  }
}

.login-wrapper .login-action {
  width: 280px;
  margin: 0 auto
}

@media (max-width:767px) {
  .login-wrapper .login-action {
    width: 90%
  }
}

.login-wrapper .login-footer {
  margin-top: 30px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  background-color: #7071C9;
  padding: 20px;
  color: #fff
}

  .login-wrapper .login-footer a {
    color: #FAE355
  }

.error {
  color: #b30000;
  display: none;
}

.err-left-md {
  margin-left: 65px;
}

.methods-common input.error, cc-security.error, .methods-common select.error, .methods-common select.error-cbx, .methods-common input.error-cbx, .error-cbx, .error-bx {
  border: 1px solid #FF0000 !important;
}

.text-center {
  text-align: center;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
