<nav class="wedding-header guest-header" [ngClass]="{'transparent-header':isCollapsed}">
  <div class="container-fluid clearfix">
    <div class="nav-brand">
      <a href="{{websiteUrl}}">
        <img src="{{ImageBaseUrl}}assets/Images/letsplanevent-logo-white.png" class="logo-white" width="150">
        <img src="{{ImageBaseUrl}}assets/Images/letsplanevent-logo-color.png" class="logo-dark" width="150">
      </a>
    </div>
    <div class="nav-toggle" data-toggle="collapse" data-target="#navMobile" (click)="toggleMenuClick()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navMobile">
      <span class="pointer">
        <img src="{{ImageBaseUrl}}assets/Images/toggle.png">
        <img src="{{ImageBaseUrl}}assets/Images/toggle-white.png" class="toggle-white">
      </span>
    </div>
    <div class="nav-collapse">
      <div class="nav-item header-notification">
        <a href="{{websiteUrl}}vendor-signup" class="btn btn-blue btn-ripple btn-rounded m-r-10 d-none d-xs-none d-sm-none d-md-inline-block">VENDORS SIGNUP</a>
        <a href="#loginModal" (click)="openCenteredModal('loginModal')" class="btn btn-pink btn-ripple btn-rounded no-m-xs">LOGIN<span class="d-none d-xs-none d-sm-none d-md-inline"> NOW</span></a>
      </div>
      <div class="nav-item header-nav d-none d-xs-none d-sm-none d-md-block">
        <ul class="list-unstyled clearfix no-m-b">
          <li><a href="{{websiteUrl}}create-wedding-registry">REGISTRY</a></li>
          <li><a href="{{websiteUrl}}create-wedding-websites">WEBSITES</a></li>
          <li><a href="{{websiteUrl}}planning-tools">PLANNING TOOLS</a></li>
          <li><a href="{{websiteUrl}}vendors">VENDORS</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="nav-collapse-xs collapse" id="navMobile" [ngbCollapse]="isCollapsed">
    <div class="nav-collapse-inner">
      <ul class="list-unstyled item-list no-m-b">
        <li><a [routerLink]="['/create-wedding-registry',9]" [queryParams]="{data:123}" class="hover-dark"><b>REGISTRY</b></a></li>
        <li><a href="{{websiteUrl}}create-wedding-websites" class="hover-dark"><b>WEDDING WEBSITES</b></a></li>
        <li><a href="{{websiteUrl}}planning-tools" class="hover-dark"><b>PLANNING TOOLS</b></a></li>
        <li><a href="{{websiteUrl}}vendors" class="hover-dark"><b>VENDORS</b></a></li>
        <li><a href="{{websiteUrl}}couple-search.php" class="hover-dark"><b>FIND COUPLES</b></a></li>
      </ul>

      <div class="row m-t-20">
        <div class="col-6">
          <a href="{{websiteUrl}}?register" class="btn btn-blue btn-block btn-rounded width-100 btn-size-responsive">Bride Signup</a>
        </div>
        <div class="col-6">
          <a href="{{websiteUrl}}vendor-signup" class="btn btn-pink btn-block btn-rounded width-100 btn-size-responsive">Vendor Signup</a>
        </div>
      </div>

      <p class="line-28 text-center m-t-30">
        <span class="l-s-1 help-font"><b>HELP</b></span><br>
        <span class="text-dark">
          {{contactEmail}}<br>
          <span class="text-dark">{{contactPhoneNo}}</span>
        </span>
      </p>
    </div>
  </div><!-- /.nav-collapse-xs -->
</nav>




