@import '~src/common/app';
@mixin bgImage($imageName,$ext) {
  $url: "../../../assets/Images/#{$imageName}.#{$ext}";
  background-image: url($url);
}

.wedding-wrapper.fixed-header .wedding-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0
}

@media (min-width:768px) {
  .wedding-wrapper.has-alert-top .wedding-header {
    top: 30px
  }
}

.wedding-header {
  position: relative;
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid #e2e2e2;
  z-index: 10;
  transition: background-color .2s;
  -webkit-transition: background-color .2s
}

@media (max-width:991px) {
}

@media (max-width:767px) {
  .wedding-header {
    height: 60px
  }
}

.wedding-header.guest-header .nav-item {
  float: right
}

.wedding-header.guest-header .header-notification {
  border-left: 0;
  margin-left: 0;
  padding-top: 26px;
  padding-bottom: 19px
}

@media (max-width:767px) {
  .wedding-header.guest-header .header-notification {
    padding-top: 17px;
    padding-bottom: 16px
  }
}

@media (min-width:600px) and (max-width:767px) {
  .wedding-header.vendor-header .header-notification {
    margin-right: 0
  }

  .wedding-header.vendor-header .profile-dropdown {
    display: none
  }
}

@media (min-width:992px) {
  .wedding-header.vendor-header .header-nav {
    margin-left: 75px
  }
}

.wedding-header .logo-white {
  display: none
}

.wedding-header .logo-black {
  display: block
}

.wedding-header .dropdown-menu {
  margin-top: 0;
  min-width: 250px
}

.wedding-header .dropdown-menu.dropdown-lg {
  width: 350px
}

.wedding-header .dropdown-menu.dropdown-lg > li > a .media-heading {
  width: 250px;
  margin-top: 3px;
  margin-bottom: 3px
}

.wedding-header .dropdown-menu.dropdown-lg > li > a:hover, .wedding-header .dropdown-menu.dropdown-lg > li > a:focus {
  color: #ababab
}

.wedding-header .dropdown-menu .static-item {
  padding: 5px 10px
}

.wedding-header .nav-collapse-xs ul > li > a {
  color: #ababab
}

@media (min-width:1200px) {
  .header-compact .nav-item:first-child {
    margin-left: 50px
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .header-compact .nav-item:first-child {
    margin-left: 20px
  }
}

@media (min-width:1310px) {
  .header-compact .header-search {
    margin-left: 220px;
    width: 280px
  }
}

@media (min-width:1200px) and (max-width:1309px) {
  .header-compact .header-search {
    margin-left: 150px
  }
}

@media (min-width:992px) and (max-width:1309px) {
  .header-compact .header-search {
    width: 250px
  }
}

.header-compact .header-nav > ul > li > a {
  font-size: 14px
}

@media (min-width:1200px) {
  .header-compact .header-nav > ul > li > a {
    padding-left: 20px;
    padding-right: 20px
  }
}

.nav-brand {
  float: left
}

@media (min-width:768px) {
  .nav-brand {
    padding-top: 14px;
    /*padding-bottom: 14px*/
  }
}

@media (max-width:991px) {
  .nav-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%)
  }
}

@media (max-width:767px) {
  .nav-brand {
    padding-top: 18px;
    padding-bottom: 15px
  }

  .nav-brand img {
    width: 80px
  }
}

.nav-toggle {
  float: left;
  display: none;
  padding-top: 15px;
  padding-bottom: 15px
}

@media (max-width:991px) {
  .nav-toggle {
    display: block;
    margin-right: -15px
  }
}

@media (max-width:767px) {
  .nav-toggle {
    padding-top: 5px;
    padding-bottom: 5px
  }
}

.nav-toggle span {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px
}

.nav-toggle span > img {
  margin-top: 12px
}

@media (max-width:767px) {
  .nav-toggle span {
    width: 35px;
  }
  .nav-toggle span > img {
    margin-top: 16px;
    width: 25px
  }
}

.nav-toggle img.toggle-white {
  display: none
}

.nav-item {
  float: left
}

.header-search {
  margin-left: 15px
}

@media (min-width:1200px) {
  .header-search {
    width: 250px
  }
}

@media (min-width:1200px) and (max-width:1309px) {
  .header-search {
    width: 210px
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .header-search {
    width: 218px
  }
}

@media (min-width:768px) and (max-width:991px) {
  .header-search {
    width: 320px
  }
}

@media (min-width:768px) {
  .header-search {
    margin-left: 30px;
    padding-top: 39px;
    padding-bottom: 39px
  }
}

.header-search .input-wrap .input-icon {
  right: 15px
}

@media (max-width:767px) {
  .header-search .input-wrap .input-icon {
    right: 10px;
    top: 4px
  }

  .header-search .input-wrap .input-icon img {
    width: 15px
  }
}

.header-search .form-control {
  padding-left: 15px;
  padding-right: 15px
}

@media (max-width:767px) {
  .header-search .form-control {
    width: 150px;
    height: 30px;
    padding-right: 30px;
    margin-top: 14px
  }
}

@media (min-width:481px) and (max-width:767px) {
  .header-search .form-control {
    width: 250px
  }
}

@media (max-width:480px) {
  .header-search .form-control {
    width: 150px
  }
}

.header-nav {
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px
}

.header-nav > ul {
  margin-top: 4px;
  margin-left: 20px
}

@media (min-width:992px) and (max-width:1199px) {
  .header-nav > ul {
    margin-top: 2px
  }
}

.header-nav > ul > li {
  float: left
}

.header-nav > ul > li > a {
  display: block;
  color: #ababab;
  padding: 10px 20px;
  border-radius: 50em;
  font-weight: 500;
  font-size: 13px
}

.header-nav > ul > li > a:hover, .header-nav > ul > li > a:focus {
  text-decoration: none;
  background-color: #f9f9f9;
  color: #4b4b4b
}

@media (min-width:1200px) and (max-width:1309px) {
  .header-nav > ul > li > a {
    padding-left: 15px;
    padding-right: 15px
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .header-nav > ul > li > a {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 12px
  }
}

.header-nav .badge-float {
  position: absolute;
  top: 0;
  right: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px
}

.header-nav .caret {
  border-width: 4px;
  margin-top: -2px
}

.header-notification {
  border-left: 1px solid #e2e2e2;
  margin-left: 5px;
  padding-left: 20px
}

@media (min-width:1200px) and (max-width:1309px) {
  .header-notification {
    margin-left: 3px;
    padding-left: 12px
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .header-notification {
    margin-left: 10px;
    padding-left: 15px
  }
}

@media (max-width:991px) {
  .header-notification {
    float: right;
    border-left: 0;
    margin-left: 0;
    padding-left: 0
  }
}

.header-notification > ul > li {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px
}

.header-notification > ul > li > a:hover, .header-notification > ul > li > a:focus {
  text-decoration: none
}

.header-notification > ul > li.noti-icon {
  padding: 20px 5px
}

@media (max-width:767px) {
  .header-notification > ul > li.noti-icon {
    padding-top: 10px;
    padding-bottom: 10px
  }
}

.header-notification > ul > li.noti-icon > a {
  position: relative;
  display: block;
  border-radius: 50em;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2)
}

.header-notification > ul > li.noti-icon > a:hover {
  background-color: #f9f9f9
}

.header-notification > ul > li.noti-icon > a img {
  margin-top: 8px
}

.header-notification > ul > li.noti-icon > a .badge {
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  line-height: 20px
}

.header-notification > ul > li.noti-icon.noti-mail img {
  margin-top: 12px
}

.header-notification > ul > li.noti-icon.icon-separate {
  margin-right: 20px;
  position: relative
}

.header-notification > ul > li.noti-icon.icon-separate:before {
  content: '';
  position: absolute;
  top: 53px;
  height: 16px;
  right: -10px;
  border-left: 2px solid #e2e2e2
}

.header-notification > ul > li.noti-icon.search-xs > a {
  box-shadow: none;
  -webkit-box-shadow: none
}

.header-notification > ul > li.noti-icon > .dropdown-menu {
  padding-top: 5px;
  padding-bottom: 0
}

.header-notification > ul > li.noti-icon > .dropdown-menu ul > li > a {
  display: block;
  padding: 10px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #ababab;
  white-space: nowrap
}

.header-notification > ul > li.noti-icon > .dropdown-menu ul > li > a:hover, .header-notification > ul > li.noti-icon > .dropdown-menu ul > li > a:focus {
  color: #4b4b4b;
  background: #f3f3f3;
  text-decoration: none
}

.header-notification > ul > li.noti-icon > .dropdown-menu ul > li > a:hover .text-muted, .header-notification > ul > li.noti-icon > .dropdown-menu ul > li > a:focus .text-muted {
  color: #4b4b4b
}

.header-notification > ul > li.noti-icon > .dropdown-menu ul > li.new-item > a {
  background-color: #f6f6f6
}

.header-notification > ul > li.noti-icon > .dropdown-menu ul > li .media-heading {
  max-width: 250px
}

.header-notification > ul > li.static-link {
  padding-top: 20px;
  padding-bottom: 20px
}

.header-notification > ul > li.static-link > a:not(.btn) {
  display: block;
  padding: 10px;
  border-radius: 50em
}

.header-notification > ul > li.static-link > a:not(.btn):hover {
  background-color: #f3f3f3
}

@media (min-width:600px) and (max-width:767px) {
  .header-notification > ul > li.static-link > a:not(.btn) {
    padding-left: 8px;
    padding-right: 8px
  }
}

.header-notification > ul > li.static-link.static-text {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 16px
}

@media (min-width:1310px) {
  .header-notification > ul > li.static-link.progress-bar-item {
    min-width: 313px
  }
}

.header-notification > ul > li.profile-dropdown {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px
}

@media (min-width:992px) and (max-width:1199px) {
  .header-notification > ul > li.profile-dropdown {
    padding-left: 10px
  }
}

.header-notification > ul > li.profile-dropdown > a {
  height: 50px;
  display: block;
  overflow: hidden
}

.header-notification .btn {
  padding: 8px 20px;
  font-size: 12px
}

@media (min-width:992px) and (max-width:1199px) {
  .header-notification .btn {
    padding-left: 20px;
    padding-right: 20px
  }
}

@media (max-width:767px) {
  .header-notification .btn {
    padding: 5px 15px;
    font-size: 11px
  }
}

.transparent-header {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  border-bottom-color: transparent
}

.transparent-header .logo-white {
  display: block
}

.transparent-header .logo-dark {
  display: none
}

.transparent-header .nav-toggle img.toggle-white {
  display: inline-block
}

.transparent-header .nav-toggle img:not(.toggle-white) {
  display: none
}

.transparent-header .header-nav > ul > li > a {
  color: #fff
}

.transparent-header .header-nav > ul > li > a:hover, .transparent-header .header-nav > ul > li > a:focus {
  color: #4b4b4b
}

.transparent-header .btn-pink, .transparent-header .btn-blue {
  border-color: rgba(255,255,255,0.9);
  background-color: rgba(255,255,255,0.9);
  color: #4b4b4b
}

.transparent-header .btn-pink:hover, .transparent-header .btn-blue:hover, .transparent-header .btn-pink:focus, .transparent-header .btn-blue:focus {
  background-color: #fff;
  color: #4b4b4b
}

.transparent-header + .nav-xs-backdrop {
  top: 0 !important
}

.header-list-dropdown {
  padding: 15px
}

.header-list-dropdown li {
  float: left;
  width: 50%;
  padding: 5px
}

.header-list-dropdown li > a {
  color: #ababab
}

@media (min-width:1200px) {
  .show-progress .header-notification {
    padding-left: 30px;
    margin-left: 20px
  }
}

.show-progress .header-notification .static-link {
  padding-top: 27px;
  padding-bottom: 27px;
  margin-right: 20px
}

@media (min-width:1310px) {
  .show-progress .header-nav {
    margin-left: 122px
  }
}

@media (min-width:1200px) and (max-width:1309px) {
  .show-progress .header-nav {
    margin-left: 103px
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .show-progress .header-nav {
    margin-left: 300px
  }
}

@media (min-width:1310px) {
  .show-progress .text-visible-lg {
    display: inline
  }
}

@media (max-width:1309px) {
  .show-progress .text-visible-lg {
    display: none
  }
}

.nav-sm {
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #00a6dc;
  width: 330px;
  height: 100vh;
  z-index: 10000;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translate(100% x, 0);
  -webkit-transform: translate(100%, 0);
  transition: transform .2s;
  -webkit-transition: -webkit-transform .2s
}

@media (min-width:992px) {
  .nav-sm {
    display: none
  }
}

@media (max-width:767px) {
  .nav-sm {
    top: 60px
  }
}

@media (max-width:600px) {
  .nav-sm {
    width: 100%
  }
}

.nav-sm hr {
  border-top: 1px solid #7bd0ec
}

.nav-sm a {
  color: #fff
}

.nav-sm a:hover, .nav-sm a:focus {
  color: #fff
}

.nav-sm .nav-search {
  width: 230px;
  margin-bottom: 40px
}

.nav-sm .input-wrap .input-icon {
  right: 20px
}

.nav-sm .input-wrap .form-control {
  background-color: #fff;
  height: 44px;
  padding-left: 30px;
  padding-right: 40px
}

.nav-sm .nav-group {
  line-height: 40px;
  margin-left: 80px
}

.nav-sm .nav-group ul > li > a {
  display: block;
  color: #fff;
  font-size: 22px;
  padding: 3px 15px;
  font-weight: 700;
  transition: letter-spacing .2s;
  -webkit-transition: letter-spacing .2s
}

.nav-sm .nav-group ul > li > a:hover, .nav-sm .nav-group ul > li > a:focus {
  background-color: #7bd0ec;
  text-decoration: none
}

.nav-sm .nav-group ul > li > a.font-normal {
  font-weight: normal
}

.nav-sm .nav-group ul > li + li {
  border-top: 1px solid #7bd0ec
}

.nav-sm .nav-group ul > li ul {
  border-top: 1px solid #7bd0ec
}

.nav-sm .nav-group ul > li ul li > a {
  padding-left: 35px
}

.nav-sm .header-notification {
  float: none;
  margin: 0;
  padding: 0;
  border-left: 0
}

.nav-sm .header-notification > ul > li {
  padding: 15px 20px
}

.nav-sm .header-notification > ul > li.profile-dropdown > a {
  display: inline
}

.nav-sm .header-notification > ul > li.noti-icon > a {
  width: 40px;
  height: 40px
}

.nav-sm .header-notification > ul > li.noti-icon > a img {
  width: 25px
}

.nav-sm .header-notification > ul > li.noti-icon > a:hover {
  background-color: #f3f3f3
}

.nav-sm .header-notification .btn {
  padding-top: 13px;
  padding-bottom: 13px;
  width: 100%
}

.nav-sm .selectable-list .selected-item {
  color: #fff;
  padding-right: 0
}

.nav-sm .selectable-list .selectable-item:hover, .nav-sm .selectable-list .selectable-item:focus {
  color: #fff
}

.nav-sm .icon-bar {
  position: relative;
  background-color: #f7f7f7;
  width: 80px;
  float: left;
  height: 100%
}

.nav-sm.guest-nav {
  width: 300px;
  padding: 20px 15px
}

.nav-sm.guest-nav .nav-group {
  margin-left: 0
}

@media (min-width:768px) {
  .has-alert-top .nav-sm {
    top: 110px
  }
}

.second-nav-sm {
  display: none;
  background-color: #fff;
  padding: 0;
  overflow: hidden
}

.second-nav-sm .notification-group > li.new-item > a {
  background-color: #f6f6f6
}

.second-nav-sm .notification-group > li > a {
  display: block;
  color: #ababab;
  padding: 10px 20px
}

.second-nav-sm .notification-group > li > a:hover, .second-nav-sm .notification-group > li > a:focus {
  text-decoration: none;
  background-color: #f3f3f3
}

.second-nav-sm .notification-message .ellipsis {
  color: #4b4b4b
}

.second-nav-sm .nav-header {
  padding: 25px
}

.second-nav-sm .nav-body {
  position: relative;
  height: calc(100% - 86px);
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch
}

.second-nav-sm .close {
  float: none;
  position: absolute;
  top: 25px;
  right: 20px
}

@media (max-width:991px) {
  .nav-sm-opened .nav-sm:not(.second-nav-sm) {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
  }

  .nav-sm-opened .second-nav-sm.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0)
  }
}

.wedding-wrapper:not(.fixed-header) .nav-sm {
  top: 0
}

.nav-vendor {
  padding-left: 20px;
  padding-right: 20px
}

@media (min-width:601px) and (max-width:767px) {
  .nav-vendor .header-notification {
    display: block
  }

  .nav-vendor .header-notification .noti-icon {
    display: none
  }

  .nav-vendor .header-notification .profile-dropdown {
    padding-left: 103px
  }
}

@media (max-width:600px) {
  .nav-vendor .header-notification {
    margin-left: 30px
  }
}

.nav-collapse-xs {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #fff
}

@media (max-width:767px) {
  .nav-collapse-xs {
    top: 60px
  }
}

@media (min-width:992px) {
  .nav-collapse-xs {
    display: none !important
  }
}

.nav-collapse-xs .nav-collapse-inner {
  padding: 0 15px 40px
}

.nav-collapse-xs .item-list > li {
  border-bottom: 1px solid #e2e2e2
}

.nav-collapse-xs .item-list > li > a {
  display: block;
  padding: 15px 20px
}

.nav-collapse-xs .item-list > li > a .caret {
  margin-top: 8px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg)
}

.nav-collapse-xs .item-list > li > a:hover, .nav-collapse-xs .item-list > li > a:focus {
  text-decoration: none
}

.nav-collapse-xs .item-list > li > a[aria-expanded="true"] .caret {
  transform: none;
  -webkit-transform: none
}

.nav-collapse-xs .item-list .item-list {
  padding-left: 20px
}

.nav-collapse-xs .item-list .item-list > li {
  border-bottom: 0;
  text-transform: uppercase
}

@media (min-width:768px) {
  .has-alert-top .nav-collapse-xs {
    top: 110px
  }
}

.left-navigation {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 80px;
  z-index: 9;
  background: #ed3d90;
  padding-top: 10px
}

@media (max-width:991px) {
  .left-navigation {
    display: none
  }
}

.left-navigation > ul > li {
  text-align: center
}

.left-navigation > ul > li.active {
  background: #e21576;
  border-radius: 4px
}

.left-navigation > ul > li.active > a {
  opacity: 1
}

.left-navigation > ul > li > a {
  display: block;
  padding: 12px 8px;
  color: #fff;
  opacity: .7;
  font-size: 12px
}

.left-navigation > ul > li > a:hover {
  text-decoration: none;
  opacity: 1
}

.left-navigation > ul > li > a:focus {
  color: #fff;
  text-decoration: none
}

.has-alert-top .left-navigation {
  top: 150px
}
.btn-large-container .btn-lg {
  width: 260px;
  padding-left: 12px;
  padding-right: 12px;
}

