<section class="home-section home-sec-1 home-sec-p-xs section-column-2 pad-xs p-b-0">

  <div class="container-fluid p-b-50 text-center">
    <h2 class="home-text-header text-header text-dark font-50 no-m"><strong>Everything You Need to Plan Your Event</strong></h2>
    <p class="h4 text-normal font-normal font-18 line-30">
      Your Event Registry, Vendors, Event Website, Checklist, Budget all in one place.
    </p>

    <div class="row">
      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}#guest-list" alt="Guest list" title="Guest list"><img src="{{imageBaseUrl}}assets/Images/home/tool-guest.png" alt="" width="100"></a>
        <h4 class="m-t-20"><b>Guest list</b></h4>
        <p class="h5 text-muted line-28">Easily manage your guest lists, track your RSVP's, and thank you cards in one place.</p>
      </div>

      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}create-wedding-registry" alt="Registry" title="Registry"><img src="{{imageBaseUrl}}assets/Images/home/tool-registry.png" alt="" width="100"></a>
        <h4 class="m-t-20">Registry</h4>
        <p class="h5 text-muted line-28">Thousands of registry items to choose from, cash registries and experiences.</p>
      </div>

      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}#vendors" alt="Vendors" title="Vendors"><img src="{{imageBaseUrl}}assets/Images/home/tool-vendors.png" alt="" width="100"></a>
        <h4 class="m-t-20">Vendors</h4>
        <p class="h5 text-muted line-28">Get proposals from local vendors based on your budget , location and needs.</p>
      </div>

      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}create-wedding-websites" alt="Wedding Website" title="Wedding Website"><img src="{{imageBaseUrl}}assets/Images/home/tool-website.png" alt="" width="100"></a>
        <h4 class="m-t-20">Event Website</h4>
        <p class="h5 text-muted line-28">Choose from a variety of modern unique website themes.</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}community" alt="Inspiration" title="Inspiration"><img src="{{imageBaseUrl}}assets/Images/home/tool-vision.png" alt="" width="100"></a>
        <h4 class="m-t-20">Inspiration</h4>
        <p class="h5 text-muted line-28">Get Inspired from our community of writers and event vendors.</p>
      </div>

      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}planning-tools#checklist" alt="Checklist" title="Checklist"><img src="{{imageBaseUrl}}assets/Images/home/tool-checklist.png" alt="" width="100"></a>
        <h4 class="m-t-20">Checklist</h4>
        <p class="h5 text-muted line-28">Our checklist reminds you of everything you need for your big day.</p>
      </div>

      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}planning-tools#budget" alt="Budget" title="Budget"><img src="{{imageBaseUrl}}assets/Images/home/tool-budget.png" alt="" width="100"></a>
        <h4 class="m-t-20">Budget</h4>
        <p class="h5 text-muted line-28">Stay on budget with our budget tracker.</p>
      </div>

      <div class="col-sm-6 col-md-3 m-t-60">
        <a href="{{websiteUrl}}community" alt="Community" title="Community"><img src="{{imageBaseUrl}}assets/Images/home/tool-community.png" alt="" width="100"></a>
        <h4 class="m-t-20">Community</h4>
        <p class="h5 text-muted line-28">Ask questions of our community and get inspired by other couples.</p>
      </div>
    </div>

  </div>
  <div class="bottom-line float-right line-inside" style="width: 184.5px;"></div>
</section>
